body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.webbody{
  position: absolute;
  height: 100vh;
  width: 100vw;
  
  color: black;
}
.banner1 {
  background-color: #FF5200;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.banner1_images {
  position: relative;
  width: 100%;
  height: 100%;
}

.vegetable {
  height: 50vh;
  position: absolute;
  top: 25vh;
}

.vegetable-left {
  left: 0;
}

.vegetable-right {
  right: 0;
}

.banner_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: poppins;
  /* max-width: 600px; */
  font-size: 48px;
  display: flex;
  flex-direction: column;
}
.restaurants_input{
  position: relative;
  top: 30px;
}
.dhfhdfjdfn{
  height: 75px;
  width: 70vw;
  margin-left: 50px;
  background-color: white;
  border-radius: 20px;
  border: none;
  color: grey;
  font-size: 18px;
  font-weight: 300;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
}
.dhfhjdhfjefh{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 40px;
}
.headers{
  position: relative;
  top: 30px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loginbtn{
  width: 130px;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  color: white;
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.loginbtn:hover{
  background-color: white;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}
.dchcdbkvnvj{
  position: relative;
  width: 100vw;
  height: 90px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.djdhfdjf{
  position: relative;
  margin-left: 50px;
  display: flex;
  align-items: center;
  /* gap: 20px; */
  /* justify-content: space-between; */
  flex-direction: row;

}
.location{
  font-weight: 700;
  font-family: poppins;
  margin-left:10px;
}
.location:hover{
  color: #FF5200;
  transition: 0.3s;
  cursor: pointer;
}
.djfjdkfkf{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dfndfkemf{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 70vw;
  height: 100vh;
}
.search_input{
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 50px;
  font-family: poppins;
  /* border-color: grey; */
  border: 0.5px solid grey;
  border-radius: 10px;
}
.webbody::-webkit-scrollbar{
  display: none;
}
.search_input::placeholder{
  color: grey;
  margin-left: 10px;
}
.sjskdfklf{
  position: relative;
  display: flex;
  margin-top: 50px;
  font-family: poppins;
  font-weight: 700;
  font-size: 25px;
}
.shgdhdfjdbf{
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}
.shfhf {
  display: inline-flex;
  gap: 10px; /* spacing between images */
}
.loginsection {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  background-color: white;
  z-index: 1001;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.dgvdbdc{
  display: flex;
  flex-direction: column;
}
.jhdcjdhc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  font-weight: poppins;
  margin-top: 50px;
  margin-left: 40px;
  font-size: 28px;
  font-weight: 600;
}
.dfhdf{
  font-weight: poppins;
  color: #FF5200;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 500;
}
.login_input{
  display: flex;
  flex-direction: column;
}
.login_input1{
  width: 80%;
  height: 70px;
  position: relative;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: 0.5px solid grey;
  font-family: poppins;
}
.dnjcbdjvd{
  position: relative;
  height: 70px;
  width: 81%;
  margin-left: 40px;
  margin-top: 30px;
  background-color: #FF5200;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: poppins;
  font-weight: 600;
}
.dnjcbdjvd:hover{
  background-color: #e6510c;
}
.djvbdbv{
  font-weight: 600;
  font-family: poppins;
  font-size: 10px;
  color: black;
  margin-left: 40px;
  margin-top: 20px;
}
.dhbdbv:hover{
  color:black
}
.sbdbjdv{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 70px;
  margin-left: 50px;
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
}
.dhvhdbvdhv{
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: start;
  text-align: start;
  font-family: poppins;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: black;
}
.dhcdhvc{
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap:70px;
}
.hdfhdf{
  width: 100vw;
  /* height: 100vh; */
  background-color: white;
  display: flex;
  font-family: poppins;
  font-weight: 600;
  flex-direction: column;
  margin-top: 70px;
}
.djnjnjgnrjgn:hover{
  cursor: pointer;
}
.jfnbjngb{
 margin-top: -152px;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #37718E;
}
.ndbhvbhfv{
     position: absolute;
    color: white;
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 150px;
    text-align: start;
}
.jdhvjv{
  font-size: 15px;
  margin-top: 10px;
  font-weight: 400;
}
.dbnfjvnf{
  position: relative;
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  margin-top: 250px;
  overflow: hidden;
}
.ffbvfv{
  position: absolute;
  width: 90%;
  margin-top: 150px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.ffbvfv::-webkit-scrollbar{
  display: flex;
}
.bdvhdbvjdv{
  position: relative;
  width: 35%;
  height: 100%;
  background-color: #EDF1F7;
  margin-top: 50px;
  margin-left: 30px;
}
.dhgchdgd{
  display: flex;
  position: relative;
  width: 65%;
  height: 100%;
  justify-content: center;
  align-items: center;
}